header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.header-brand-icon .brand-1 {
    font-family: var(--title-font-family);
    font-size: 3em;
}

.header-brand-icon .brand-2 {
    font-family: var(--title-font-family);
    font-size: 1em;
}

.header-title {
    font-family: var(--title-font-family);
    font-size: 3em;
}

.header-profile-icon {
    margin-top: 0.5em;
    font-size: 2em;
}