header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.header-brand-icon {
    padding: 1em;
}

.header-title {
    padding: 1em;
}

.header-cart-icon {
    padding: 1em;
}