.student-container {
    background-color: var(--home-pane-background-color);
    grid-column: 2;
    padding: 1em;
    color: white;
    text-align: center;
}

.student-options-list{
    text-align: left;
}

.student-profile-data {
    text-align: left;
    font-weight: bold;
    color: var(--primary-color-dark);
}