.side-container {
    background: var(--side-pane-background-color);
    grid-column: 1;
    padding: 1em;
    text-align: center;
}

a.button {
    margin-top: 1em;
}

.modal-content {
    font-size: 1.25em;
}

