.home-container {
    background-color: var(--home-pane-background-color);
    grid-column: 2;
    padding: 1em;
    color: white;
    text-align: center;
}

.slide-show-item {
    height: 350px;
    /* width: 50px; */
    display: block;
}
