@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Dosis");

:root {

    --title-font-family: "Caveat";
    --default-font-fami: "Dosis";

    --primary-color: rgb(28, 74, 172);
    --primary-color-dark: darkblue;
    --primary-background-color: rgb(211, 208, 208);
    --secondary-color: rgb(95, 164, 233);
}

body {
    background: var(--primary-background-color);
    margin: 0 auto;
    max-width: 70rem;
}

header, footer {
    background: var(--primary-color-dark);
}

.button,
.button:visited {
    display: inline-block;
    background: var(--secondary-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover,
.button:active {
    background: orange;
    color:white
}
