
:root {
    --primary-color: dodgerblue;
    --primary-color-dark: darkblue;
    --primary-background-color: gray;
    --header-background-color: black;
    --footer-background-color: black;
}

body {
    background: var(--primary-background-color);
    margin: 0 auto;
    max-width: 70rem;
}

.button,
.button:visited {
    display: inline-block;
    background: var(--primary-background-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: red;
    color:white
}
